/*

!docs
!custom_components
!config
!*.yaml
!.gitignore
!*.md

__pycache__

.storage
.cloud
.google.token


scenes.yaml
automations.yaml
ip_bans.yaml
secrets.yaml
known_devices.yaml

hacs_frontend
hacs_frontend_experimental